/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/* Variables are taken from inc/global-styles.php */

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 Globals
2.0 Header
3.0 Footer
4.0 Taxonomy
5.0 Contact us page
6.0 404 Page
7.0 Blog page
8.0 Single partitioners page
9.0 Our team page
10.0 Single post
11.0 Correction styles

--------------------------------------------------------------*/

/*--------------------------------------------------------------
1.0 Globals
--------------------------------------------------------------*/
*,
*::after,
*::before {
  text-transform: lowercase !important;
  -webkit-transition: 200ms ease-in-out;
  -o-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
  /* outline: 1px solid limegreen; */
}

::-moz-selection {
  background-color: var(--primary-color);
  color: #fff;
}

::selection {
  background-color: var(--primary-color);
  color: #fff;
}

body {
  background-color: var(--body-color);
  min-height: 100vh;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

input:focus-visible {
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
p,
ul,
figure,
blockquote {
  margin: 0;
}

li::marker {
  color: var(--primary-color);
}

h2,
.h2-style {
  font-weight: 800;
  font-size: 2.5rem;
  color: #21051d;
}

h3.sub-title {
  font-size: 18px;
  color: var(--primary-color);
  font-weight: 700;
}

h3,
.card-head figcaption {
  color: #21051d;
  font-size: 24px;
  font-weight: 800;
}

p {
  color: var(--accent-color);
}

nav.pagination {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

nav.pagination .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
}

nav.pagination .nav-links span,
nav.pagination .nav-links a {
  height: 32px;
  width: 32px;
  display: block;
  border-radius: 4px;
  border: 1px solid #dfe3e8;

  background: #fff;
  display: -ms-grid;
  display: grid;
  place-content: center;
  color: black;
}

nav.pagination .nav-links span.current,
nav.pagination .nav-links span:hover,
nav.pagination .nav-links a:hover {
  border-color: var(--primary-color);
  color: var(--primary-color);
}

nav.pagination .nav-links span.dots:hover {
  border-color: #dfe3e8;
}

nav.pagination .nav-links a.next {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.fs-7 {
  font-size: 14px;
}

.pb-6 {
  padding-bottom: 4rem;
}

.gap-10 {
  gap: 10px;
}

.default-ratio {
  aspect-ratio: 2/3;
}

.default-hero {
  height: 50vh;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#480035),
    to(rgba(145, 54, 121, 0.38))
  );
  background: -o-linear-gradient(
    left,
    #480035 0%,
    rgba(145, 54, 121, 0.38) 100%
  );
  background: linear-gradient(90deg, #480035 0%, rgba(145, 54, 121, 0.38) 100%);
}

.default-hero h1 {
  font-size: 4rem;
}

.primary-color {
  color: var(--primary-color) !important;
}

.accent-color {
  color: var(--accent-color);
}

.gold-color {
  color: var(--gold-color);
}

.background-primary {
  background-color: var(--primary-color);
}

.icon-span {
  height: 120px;
  width: 120px;
}

.stretched-link {
  position: absolute;
  height: 100%;
  width: 100%;
  inset: 0;
}

.grid-center {
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.text-regular {
  text-transform: none !important;
}

.inner-padding {
  padding: 60px 110px;
}

.accordion-button:not(.collapsed) {
  background-color: unset;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.accordion-button,
.accordion-button:hover,
.accordion-button:focus {
  outline: none;
  background: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.section-default-style {
  -webkit-box-shadow: 0px 2px 37px 0px rgba(0, 0, 0, 0.09);
  box-shadow: 0px 2px 37px 0px rgba(0, 0, 0, 0.09);
  border-radius: 30px !important;
}

.img-fluid {
  -o-object-fit: cover;
  object-fit: cover;
}

.container {
  max-width: var(--container-width);
}

.container.container-wide {
  max-width: 80%;
  width: 100%;
  margin: 0 auto;
}

.breadcrumbs a,
.rank-math-breadcrumb a {
  color: var(--primary-color);
}

.icon-grid {
  -ms-grid-columns: auto 10px auto;
  grid-template-columns: auto auto;
  gap: 10px;
  max-width: 300px;
}

article.small-card-default {
  cursor: pointer;
  padding: 20px;
  height: 200px;
  border-color: var(--lighter-primary-color);
}

article.small-card-default .card-head {
  padding-bottom: 10px;
}

article.small-card-default .card-head figcaption {
  font-size: 18px;
}

article.small-card-default .card-head span {
  place-content: center;
  width: 45px;
  height: 45px;
  background-color: var(--lighter-primary-color);
  flex-shrink: 0;
}

article.small-card-default .card-head span img {
  height: 30px;
  width: 30px;
}

article.small-card-default:hover,
article.small-card-default:focus {
  -webkit-box-shadow: 0px 5px 18px 0px rgba(158, 103, 149, 0.22);
  box-shadow: 0px 5px 18px 0px rgba(158, 103, 149, 0.22);
  background-color: var(--lighter-primary-color);
  scale: 1.025;
}

article.small-card-default:hover .card-head span,
article.small-card-default:focus .card-head span {
  background-color: #fff;
}

@media screen and (max-width: 1550px) {
  .container.container-wide {
    max-width: 90%;
  }
}

@media screen and (max-width: 1275px) {
  .container {
    max-width: 90%;
  }
}

@media screen and (max-width: 765px) {
  .container {
    max-width: 90%;
  }

  .container.container-wide {
    max-width: 100%;
  }

  .inner-padding {
    padding: 40px 30px;
  }

  h2 {
    font-size: 1.25rem;
  }

  p {
    font-size: 15px;
  }

  .default-hero {
    height: 70vh;
    background: -webkit-gradient(
      linear,
      left bottom,
      left top,
      from(rgba(100, 42, 84, 0.92)),
      color-stop(95.55%, rgba(6, 6, 6, 0))
    );
    background: -o-linear-gradient(
      bottom,
      rgba(100, 42, 84, 0.92) 0%,
      rgba(6, 6, 6, 0) 95.55%
    );
    background: linear-gradient(
      0deg,
      rgba(100, 42, 84, 0.92) 0%,
      rgba(6, 6, 6, 0) 95.55%
    );
  }

  .default-hero h1 {
    font-size: 2rem;
  }

  article.small-card-default {
    min-height: 200px;
    height: unset;
  }

  h3.sub-title {
    font-size: 12px;
    color: var(--primary-color);
    font-weight: 700;
  }
}

.btn-default {
  background-color: var(--primary-color);
  color: #fff;
  border-radius: var(--border-radius);
  border: 1px solid var(--primary-color);
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.btn-default:hover a {
  color: var(--primary-color) !important;
}

.btn-default:hover,
.btn-default:focus {
  background-color: #fff;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  -webkit-box-shadow: 0px 4px 33px 6px rgba(66, 0, 255, 0.16);
  box-shadow: 0px 4px 33px 6px rgba(66, 0, 255, 0.16);
}

/*--------------------------------------------------------------
2.0 Header
--------------------------------------------------------------*/
header .navbar-toggler:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

header nav li {
  margin-right: 1rem;
}

header nav li:last-child {
  margin-right: 0;
}

header nav li a {
  color: var(--primary-color);
}

header nav .first-level a {
  font-size: 14px;
}

header nav li a svg.main-svg path {
  fill: var(--primary-color);
}

header nav li:hover a svg {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

header nav li:hover a svg path {
  fill: var(--accent-color);
}

header nav li.btn-default a {
  color: #fff !important;
}

header nav li.btn-default:hover a {
  color: var(--primary-color);
}

header nav li a:hover,
header nav li.current-menu-item:not(.primary-color) a {
  color: var(--accent-color);
}

header .divider {
  display: block;
  height: 1px;
  background-color: #a1a1aa;
}

header .mega-menu {
  top: 100%;
  z-index: 100;
  opacity: 0;
  pointer-events: none;
}

header .mega-menu .links-container {
  min-height: 560px;
}

header .mega-menu.show {
  opacity: 1;
  pointer-events: auto;
}

header .mega-menu .container {
  background-color: #f8fafc;
}

header .mega-menu .main-links .sub-links {
  left: 33.33333333%;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: transparent;
  opacity: 0;
  pointer-events: none;
}

header .mega-menu .main-links .sub-links.show {
  opacity: 1;
  pointer-events: auto;
}

header .mega-menu .main-links li a.mail-link-button {
  border-bottom: 1px solid #e0e0e0;
}

header .mega-menu .main-links li:last-child a {
  border-bottom: none;
}

header .mega-menu .main-links a button,
header .mega-menu .main-links a svg path {
  color: black;
  fill: black;
}

header .mega-menu .main-links a.mail-link-button:hover {
  background-color: var(--primary-color);
  border-bottom-color: var(--primary-color);
}

header .mega-menu .main-links a:hover button,
header .mega-menu .main-links a:hover svg path {
  color: #fff;
  fill: #fff;
}

header .mega-menu .grand-child-link a {
  color: var(--accent-color);
}

@media screen and (max-width: 1200px) {
  header nav li {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 765px) {
  header img.company-logo {
    width: 208px;
  }

  header nav li {
    margin-bottom: 10px;
  }

  header nav li a:hover,
  header nav li.current-menu-item:not(.primary-color) a {
    color: var(--primary-color);
  }

  header nav li a {
    color: var(--accent-color);
  }

  header nav li a svg.main-svg path {
    fill: var(--accent-color);
  }
}

/*--------------------------------------------------------------
3.0 Footer
--------------------------------------------------------------*/
footer h2 {
  font-weight: 700;
  font-size: 1rem;
  color: var(--primary-color);
}

footer a,
footer p {
  color: var(--accent-color);
}

footer a:hover {
  color: var(--primary-color);
}

footer nav a.btn {
  background-color: transparent;
  border: none;
  color: var(--accent-color);
  padding: 0;
}

footer nav a.btn:hover {
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

footer form input {
  padding: 1rem;
  border: 1px solid #e4e4e7;
  border-radius: var(--border-radius);
}

footer form input:focus,
footer form input:hover {
  border-color: var(--accent-color);
}

footer form input::-webkit-input-placeholder {
  color: var(--accent-color);
}

footer form input::-moz-placeholder {
  color: var(--accent-color);
}

footer form input:-ms-input-placeholder {
  color: var(--accent-color);
}

footer form input::-ms-input-placeholder {
  color: var(--accent-color);
}

footer form input::placeholder,
footer form input {
  color: var(--accent-color);
}

footer form button.btn-default {
  padding: 1rem;
}

footer .bottom-bar .border-bottom {
  border-color: #e4e4e7 !important;
}

footer .bottom-bar a svg path {
  fill: var(--accent-color);
}

footer .bottom-bar a:hover svg path {
  fill: var(--primary-color);
}

footer .book-btn:hover {
  background-color: transparent;
}

/*--------------------------------------------------------------
4.0 Taxonomy
--------------------------------------------------------------*/
.taxonomy-hero {
  height: 50vh;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#480035),
    to(rgba(145, 54, 121, 0.38))
  );
  background: -o-linear-gradient(
    left,
    #480035 0%,
    rgba(145, 54, 121, 0.38) 100%
  );
  background: linear-gradient(90deg, #480035 0%, rgba(145, 54, 121, 0.38) 100%);
}

.taxonomy-hero h1 {
  font-size: 4rem;
}

.taxonomy-main-content {
  background-color: var(--body-color);
  margin-top: -2rem;
}

.taxonomy-list .no-children-card-wrapper article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.taxonomy-list .no-children-card-wrapper article:hover {
  background-color: var(--lighter-primary-color) !important;
}

.taxonomy-list .no-children-card-wrapper article img {
  max-height: 276px;
}

.taxonomy-list .no-children-card-wrapper article span {
  padding-left: 1.5rem;
}

.taxonomy-list .no-children-card-wrapper:nth-child(odd) article {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: unset;
  -ms-flex-pack: unset;
  justify-content: unset;
}

.accordion .accordion-body ul li {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-left: 30px;
  margin-bottom: 10px;
}

.accordion .accordion-body ul li::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='26' viewBox='0 0 25 26' fill='none'%3E%3Cpath d='M12.7939 0.00134277C13.2261 0.139655 13.5373 0.416281 13.8485 0.744773C14.9896 1.88585 16.1307 3.02693 17.2545 4.16801C17.9806 4.89415 17.9806 5.74132 17.2545 6.45017C16.0443 7.67769 14.8167 8.88793 13.5892 10.1155C12.8976 10.807 12.0332 10.807 11.3416 10.1155C10.1314 8.90522 8.92116 7.69498 7.71092 6.48475C6.9502 5.72403 6.9502 4.91144 7.71092 4.15072C8.852 3.00964 9.97579 1.88585 11.0996 0.744773C11.4108 0.43357 11.722 0.139655 12.1542 0.00134277H12.742L12.7939 0.00134277ZM12.5173 9.68322C12.6729 9.57949 12.8285 9.51033 12.9495 9.38931C14.1597 8.19636 15.3527 6.98613 16.5629 5.79318C16.9433 5.41282 16.9433 5.20535 16.5629 4.82499C15.37 3.63205 14.177 2.4391 12.9668 1.22887C12.9322 1.19429 12.8976 1.15971 12.8631 1.12513C12.621 0.917664 12.379 0.900375 12.1542 1.12513C12.0678 1.19429 11.9986 1.28073 11.9295 1.34989C10.7538 2.52555 9.57814 3.7012 8.40248 4.87686C8.10857 5.17078 8.10857 5.43011 8.40248 5.72403C9.63001 6.96884 10.8748 8.19636 12.1196 9.42389C12.2234 9.52762 12.3617 9.57949 12.5346 9.68322H12.5173Z' fill='%23710053'/%3E%3Cpath d='M0 12.2075C0.138313 11.7753 0.432227 11.4641 0.74343 11.1529C1.88451 10.0118 3.02559 8.8707 4.16667 7.74691C4.89281 7.02077 5.72268 7.00348 6.44882 7.74691C7.67635 8.95714 8.88658 10.1847 10.1141 11.4122C10.8057 12.1038 10.8057 12.9682 10.1141 13.6598C8.90387 14.87 7.69364 16.0975 6.46611 17.3078C5.72268 18.0512 4.89281 18.0512 4.14938 17.3078C3.0083 16.1667 1.88451 15.0429 0.74343 13.9191C0.432227 13.6079 0.138313 13.2967 0 12.8645V12.2766L0 12.2075ZM9.68188 12.4841C9.59544 12.3458 9.54357 12.2075 9.43983 12.1038C8.19502 10.8589 6.95021 9.59684 5.70539 8.35203C5.46335 8.10998 5.18672 8.09269 4.92739 8.35203C3.66528 9.61413 2.40318 10.8762 1.15837 12.1383C0.916321 12.3804 0.916321 12.6397 1.15837 12.8645C2.42047 14.1266 3.68257 15.406 4.94467 16.6681C5.16943 16.8928 5.44606 16.8928 5.67082 16.6681C6.93292 15.406 8.19502 14.1612 9.43983 12.8818C9.54357 12.778 9.57815 12.6397 9.66459 12.5014L9.68188 12.4841Z' fill='%23710053'/%3E%3Cpath d='M25 12.415C25 12.8991 24.8617 13.2449 24.5851 13.5215C23.3057 14.8182 22.009 16.0975 20.7123 17.3942C20.1418 17.9648 19.26 17.9821 18.6895 17.3942C17.3755 16.0975 16.0788 14.8009 14.7822 13.4869C14.2116 12.9164 14.2289 12.0346 14.7822 11.4641C16.0616 10.1674 17.3582 8.87071 18.6722 7.57403C19.26 7.00349 20.1245 7.02078 20.7123 7.57403C22.009 8.85343 23.2884 10.1328 24.5678 11.4295C24.8444 11.7061 25 12.0519 25 12.3804V12.415ZM19.6923 8.12728C19.5539 8.21373 19.4156 8.2656 19.3119 8.36933C18.0671 9.61414 16.805 10.859 15.5602 12.1038C15.3008 12.3631 15.3008 12.6224 15.5602 12.8991C16.805 14.1439 18.0498 15.3887 19.3119 16.6335C19.5539 16.8756 19.8306 16.8928 20.0899 16.6335C21.352 15.3887 22.5968 14.1266 23.8416 12.8645C24.101 12.6052 24.101 12.3631 23.8416 12.1038C22.5968 10.8417 21.3347 9.59686 20.0726 8.35204C19.9689 8.24831 19.8306 8.21373 19.6923 8.12728Z' fill='%23710053'/%3E%3Cpath d='M12.6901 25.0014C12.1023 25.0014 11.7565 24.863 11.4799 24.5864C10.1832 23.307 8.90382 22.0103 7.60714 20.7137C7.0366 20.1431 7.01931 19.2614 7.60714 18.6908C8.90382 17.3769 10.2005 16.0802 11.5145 14.7835C12.085 14.2303 12.9495 14.213 13.52 14.7835C14.834 16.0802 16.1479 17.3769 17.4446 18.7081C17.9979 19.2787 17.9979 20.1431 17.4446 20.7137C16.1652 22.0103 14.8686 23.307 13.5719 24.6037C13.2952 24.8803 12.9495 25.0186 12.742 25.0186L12.6901 25.0014ZM12.4827 15.3195C12.3443 15.4059 12.206 15.4578 12.1196 15.5442C10.8575 16.8063 9.59539 18.0511 8.33328 19.3132C8.10852 19.538 8.10852 19.8146 8.33328 20.0394C9.59539 21.3015 10.8575 22.5809 12.1369 23.8257C12.3789 24.0677 12.621 24.0677 12.863 23.8257C14.1251 22.5636 15.4045 21.3015 16.6493 20.0221C16.8741 19.7973 16.8741 19.5207 16.6493 19.2787C15.3872 18.0166 14.1424 16.7545 12.863 15.5096C12.7593 15.4059 12.621 15.3713 12.4827 15.2849V15.3195Z' fill='%23710053'/%3E%3C/svg%3E");
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 5px;
  flex-shrink: 0;
  font-weight: bold;
  position: absolute;
  left: 0;
}

.accordion .accordion-body ul li:has(strong)::before,
.accordion .accordion-body ul li:has(b)::before {
  top: 10%;
}

.accordion .accordion-body ol {
  padding-left: 30px;
  list-style: none;
}

.accordion .accordion-body ol li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.accordion .accordion-body ol li:last-child {
  margin-bottom: 0;
}

.accordion .accordion-body ol li::before {
  font-weight: bold;
}

.accordion .accordion-body ul li ul {
  list-style-position: inside;
  margin-top: 8px;
}

.accordion .accordion-body ul li ul li {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-bottom: 10px;
  padding-left: 22.5px;
}

.accordion .accordion-body ul li ul li:last-child {
  margin-bottom: 0;
}

.accordion .accordion-body ul li ul li::before,
.accordion .accordion-body ol li::before {
  content: "-";
  background-image: none;
  height: 15px;
  width: 15px;
  display: flex;
  align-items: center;
  color: var(--primary-color);
}

.single-partitioners article img {
  width: 100%;
  height: 500px;
}

img-comparison-slider:focus-visible {
  outline: none;
}

.comparison-slider img {
  height: 550px;
}

@media screen and (max-width: 765px) {
  .taxonomy-list li.no-children-card-wrapper article {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .single-partitioners article {
    margin-bottom: 1rem;
  }

  .single-partitioners article:last-child {
    margin-bottom: 0rem;
  }

  .single-partitioner .welcome-block.container {
    padding: 0;
  }

  .taxonomy-list .no-children-card-wrapper article {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important;
  }

  .taxonomy-list .no-children-card-wrapper article span {
    padding-left: 0;
  }

  .accordion .accordion-body ol {
    padding-left: 1rem;
  }

  .accordion .accordion-body ol li {
    display: flex;
    align-items: start;
    margin-bottom: 10px;
  }

  .accordion .accordion-body ol li::before {
    margin-top: 5px;
    margin-right: 3.5px;
  }
}

/*--------------------------------------------------------------
5.0 Contact us page
--------------------------------------------------------------*/
.page-id-27 .wpcf7-form {
  display: -ms-grid;
  display: grid;
  place-content: center;
}

.page-id-27 .wpcf7-form input,
.page-id-27 .wpcf7-form textarea {
  margin-top: 10px;
}

/*--------------------------------------------------------------
6.0 404 Page
--------------------------------------------------------------*/
.error404 section {
  height: 80vh;
  background: url("/wp-content/uploads/2024/04/404-page-reuter.png") no-repeat
    center / cover;
}

.error404 section::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  inset: 1;
  opacity: 0.5;
  background: var(--primary-color);
  background-blend-mode: multiply;
}

.error404 section h1 {
  font-size: 6rem;
}

@media screen and (max-width: 765px) {
  .error404 section h1 {
    font-size: 3rem;
  }

  .error404 section {
    height: 50vh;
  }
}

/*--------------------------------------------------------------
7.0 Blog page
--------------------------------------------------------------*/
.posts-list article:hover {
  background-color: var(--lighter-primary-color) !important;
}

/*--------------------------------------------------------------
8.0 Single partitioners page
--------------------------------------------------------------*/
.doctors-paragraph ul {
  list-style: initial;
}

.doctors-paragraph p span {
  color: var(--primary-color);
  font-weight: 600;
}

/*--------------------------------------------------------------
9.0 Our team page
--------------------------------------------------------------*/
.page-id-15 article p {
  font-size: 14px;
}

/*--------------------------------------------------------------
10.0 Single post
--------------------------------------------------------------*/
.single-post .date-author-container a::before {
  content: " ,";
}

.single-post .date-author-container a.first-link::before {
  content: "";
}

.single-post .date-author-container a:hover {
  color: var(--primary-color) !important;
}

/*--------------------------------------------------------------
11.0 Correction styles
--------------------------------------------------------------*/
.single-about ul li ul,
.single-about ol {
  padding-left: 30px;
}
.single-about ol {
  list-style: none;
}

.single-about ul {
  list-style: initial;
  list-style-position: inside;
}

.single-about ol li {
  display: flex;
  align-items: center;
}

.single-about ol li:last-child {
  margin-bottom: 0;
}

.single-about ul li ul li {
  display: flex;
  align-items: start;
  flex-direction: row;
}

.single-about ul li ul li:last-child {
  margin-bottom: 0;
}

.single-about ul li ul li::before,
.single-about ol li::before {
  content: "-";
  background-image: none;
  display: flex;
  align-items: center;
  color: var(--primary-color);
  margin-right: 5px;
}

.single-about p,
.single-about li {
  font-size: 15px;
}

.single-about b,
.single-about strong {
  font-size: 1.25rem;
}

.accordion b,
.accordion strong,
.single-about li:has(b) {
  font-size: 1.25rem;
}

.accordion p,
.accordion li {
  font-size: 15px;
}

.archive-svg {
  top: 1rem;
  right: 1rem;
}

.change-button-padding a {
  padding: 0 !important;
}

.page-id-12 .image-full-height figure,
.page-id-12 .image-full-height img {
  height: 100%;
}

@media screen and (max-width: 768px) {
  .accordion b,
  .accordion strong,
  .single-about li:has(b) {
    font-size: 1.15rem;
  }
  .accordion h2 {
    font-size: 1.75rem;
  }
  .single-about h2 {
    font-size: 1.75rem;
  }
}
